
.u-columns{
    display: flex;
    flex-direction: row;

}
.u-column2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.u-column2 address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titulo .edit{
    text-align: right;
}
