.contentListProducts{
    background: #E7FAFE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}
.contentListProducts h1{
    text-transform: uppercase;
    font-size:32px;
    width:85%;
    margin:0  auto;
    font-weight: 400;
    padding:2rem;
}
.categoriasProducts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}
.categoriasProducts .categoriasListProductsImg {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    height: 200px;
    width: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.categoriasProducts .categoriasListProductsImg:hover{
    border: 3px solid #39c8cd; ;
}

.categoriasListProductsLink{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    text-align: left;
    padding:1rem;
}
.categoriasListProductsLink a{
    text-decoration: none;
    color: white;
    padding:0 ;
    margin:0 ;
}
.categoriasListProductsLink a{
    color: white;
}

.conteinerListText .pratosList{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}



/*Produtos*/
.allProducts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:100px;
    grid-row-gap:100px;
    padding:0;
    /* margin-left: 0 auto; */
}
.img-Produtos{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    /* width: 20vw; */
    margin:0;
    height:20vh;
    /* margin:2rem; */
}
.container-infos-lp{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    /* text-align: left; */
}
.container-infos-lp p{
    position: relative;
    top: 40%;
    /* text-align: left; */
    left: 5%;
    font-size: 25px;
    color: snow;
}
.container-infos-lp a img{
    float:right;
}

.img-Produtos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/*Produtos Shops*/
/* .products{
    display: none;
} */
.woocommerce-result-count{
    display: none;
}
.contentListProducts .columns-4{

    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:100px;
    grid-row-gap:100px;  */
    margin: 1rem auto;
    /* padding:1rem auto; */
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}
.attachment-woocommerce_thumbnail {
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position:center; */
    width: 20vw;
    margin:0;
    height:20vh;
}
.attachment-woocommerce_thumbnail:hover {
    border:2px solid greenyellow;
}
.add_to_cart_button{
    display: none;
}

.woocommerce-loop-product__title{
    position: relative;
    top: -43px;
    background:linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);;
    color: white;
    font-size: 20px;
}
/* .price{
    position: relative;
    color: white;
    font-size: 20px;
    top: -43px;
    background:linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86103) 46.87%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
} */

