.contaMenu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #F5C661;
}
.contaMenu ul li{
    font-size:24px;
    padding: 1rem;
    text-transform: uppercase;
}
.contaMenu ul li a:visited{
    color:black;
}
.contaMenu ul li a:hover{
    color: white;
}

/* Conteudo*/
.TextConta{
    margin: 2rem 0 2rem 0;
    line-height:3rem;
    font-size: 24px;
    width: 60%;
}
/*formulario*/
.formConta{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}
.Nome-sobrenome{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.Nome-sobrenome .form-nome label, .Nome-sobrenome .form-sobrenome label {
    font-size: 26px;
}
.Nome-sobrenome .form-nome  #nome,.Nome-sobrenome .form-sobrenome  #sobrenome{
    display:flex;
    flex-direction:row;
    border-top:none ;
    border-left:none;
    border-right:none;
    margin-top: 2rem;

    outline:none;
    background:#E7FAFE;
}
.form-nome, .form-sobrenome{
    width:45%;
}
#nome{
    border-bottom:2px solid #6A066D;
    font-size: 20px;
    width: 100%;
}
#sobrenome{
    border-bottom:2px solid #6A066D;
    font-size: 20px;
    width: 100%
}

.email{
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
}
.email label{
    font-size: 26px;
}
.email #email{
    display:flex;
    flex-direction:row;
    border-top:none ;
    border-left:none;
    border-right:none;
    margin-top: 2rem;
    outline:none;
    width: 80vw;
    font-size:20px;
    background:#E7FAFE;
}

.senha{
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
}
.senha label{
    font-size: 26px;
}
.senha input{
    display:flex;
    flex-direction:row;
    border-top:none ;
    border-left:none;
    border-right:none;
    margin-top: 2rem;
    outline:none;
    width: 80vw;
    font-size:20px;
    background:#E7FAFE;
}

.novaSenha{
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
}
.novaSenha label{
    font-size: 26px;
}
.novaSenha input{
    display:flex;
    flex-direction:row;
    border-top:none ;
    border-left:none;
    border-right:none;
    margin-top: 2rem;
    outline:none;
    width: 80vw;
    font-size:20px;
    background:#E7FAFE;
}

.nova_senhaConf{
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
}
.nova_senhaConf label{
    font-size: 26px;
}
.nova_senhaConf input{
    display:flex;
    flex-direction:row;
    border-top:none ;
    border-left:none;
    border-right:none;
    margin-top: 2rem;
    outline:none;
    width: 80vw;
    font-size:20px;
    background:#E7FAFE;
}
.btnForm{
    cursor: pointer;
    display:flex;
    flex-direction:row;
    margin: 3rem auto;
    background:#7E3481;
    width:max-content;
    padding:0.5rem;
    padding-left:1rem ;
    padding-right:1rem ;
    color: white;
    font-size: 24px;
    border: 0;

}
.woocommerce-Button button{
    background: #7E3481;
}