 .customize-support{
    background:#E7FAFE;
}
/*
.customize-support h1{
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-left: 11rem;
    font-size: 32px;
    padding:1rem;
    font-weight: 400;
}
.price{
    
} */
.product_meta{
    display: none;
}
.description_tab{
    display: none;
}
.additional_information_tab{
    display: none;
}
.woocommerce-Tabs-panel h2{
    display: none;
}
/* form.variations_form{
    position: relative !important;
    bottom:-100px !important;
    /* left:40px !important; */
    /* float: right !important; */
/*}*/
/* .woocommerce-Tabs-panel p{
    position: relative;
    top:-50px;
    width:80%;
    overflow-wrap: wrap;
    color: red; 
}*/
.variations .label{
    display: none;
}
/* .variations{
    background: #E7FAFE !important;
    content: "";
} */
.woocommerce-Price-currencySymbol{
    display: none;
}
.product_title{
    text-align:left;
    font-size: 32px;
    font-weight: bold;
    margin: 1rem auto;

}
/* .summary entry-summary{
    width: 40%;
} */
.woocommerce-product-gallery__image{
    float: left;
    margin: 2rem;
}

/* .related  h2{
    display: none;
} */
.related ul{

    
    display:flex !important;
    flex-direction:row !important;
    justify-content:space-around!important; 
    /* position: relative;
    bottom: 20%;*/
}
.related{
    margin-top:5rem !important;
}
/* .related h2{
    margin:1rem;
    margin-left: 3rem;
    font-size: 26px;
} */

.buttonSingleProduct{
    display:flex !important;
    flex-direction:row !important;
}
.buttonSingleProduct input{
    /* text-align:center; */
    width:20%;
}
/* .summary .price{
    display:none;
} */
.single_add_to_cart_button{
    background:rgba(126, 52, 129, 0.86279);
    border: 0 !important;
    font-size: 20px;
    color: white;
    padding: 0.3rem 1rem;
    float: right;
    cursor: pointer;
}

.products-page-infos{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.p-container-title-price{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.p-container-title-price p.product-title{
    font-size: 25px;
    font-weight: bold;
}
.p-container-title-price p.product-description{
    margin-bottom: 2rem;
    width: 100%;
    text-align: justify;
    font-size: 18px!important;
    margin-top: 2rem!important;
}
.minus{
    position: relative;
    left:0.5%;
    border:  1px solid #6A066D;
    background-color: #E7FAFE;
    margin: 0;
}
.plus{
    position: relative;
    right:1%;
    border:  1px solid #6A066D;
    background-color: #E7FAFE;
    margin: 0;
}
.qty{
    background: transparent;
    width: 2%;
    border:  1px solid #6A066D;
    margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#pa_porcao{
    border:0;
    border-bottom: 3px solid #7A247D;
    font-weight: bold;
    font-size:15px;
    background-color:transparent;
    outline: none;
        width:20vw;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
section.related.products h2{
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    margin: 1rem 1rem;
}